<h3>Hello <%- name -%>!</h3>

<form action="user/blog" method="post" enctype="multipart/form-data">
    <textarea name="blog" id="blog" placeholder="Write Something"></textarea>
    <button type="submit">Submit</button>
</form>





