<div class="container">
    <table>
        <% blogs.forEach((item,index)=>{%>
            <tr>
                <td><p>blog <%- index + 1 -%></p></td>
                <td><p><%- item.blog -%></p></td>
            </tr>
        <%})%>
    </table>
</div>
<a href="/user">quay lai</a>

